[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
backtrader = "*"
backtesting = "*"
flask = "*"
matplotlib = "*"
pandas = "*"
sqlalchemy = "*"
uvicorn = "*"
bokeh = "==1.4.0"
fastapi = "*"
dash = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
